<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<select id="ticketStatusInput" name="status" class="form-control form-control-user" style="width: 100%; padding: 0.375rem 0.75rem; height: 50px;" tabindex="-1" aria-hidden="true">
                                        <option value="" disabled="" selected="">Selecciona una opción</option>

                                    <option value="ABT" disabled="">ABIERTO
                                    </option><option value="ASG">ASIGNADO</option>
                                    <option value="CDO" disabled="">CERRADO</option>
                                    <option value="ESU" disabled="">EN ESPERA USUARIO</option>
                                    <option value="PRC">EN PROCESO</option>
                                    <option value="TMN">TERMINADO</option></select>